body {
	margin-top: 100px;
	margin-bottom: 0px;
	background: none;
}

.full {
  background: url('img/680_snap.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}